{% extends 'base.html' %}
{% block title %}SignIn{% endblock title %}

{% block content %}
<div class="h-screen d-flex d-sm-flex align-items-center justify-content-center bg-light">

    <form  hx-swap="outerHTML" 
           hx-post="{{ url_for('auth.signin') }}" 
           hx-push-url="true" 
           hx-target=".content" 
           class="p-5 bg-white shadow mh-100 col-sm-8 col-md-6 col-lg-4" novalidate >
        
        <p class="h3 text-center p-2">SignIn</p>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for message in messages%}
                <div class="p-2 text-{{message[0]}}">
                    {{ message[1] }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {{form.csrf_token}}

        <div class="form-input p-1">
            {{form.email.label}}
            {{form.email(class_="form-control")}}
            
            {% if form.email.errors %} 
                {% for error in form.email.errors %}
                    <p class="text-danger">{{error}}</p>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-input p-1">
            {{form.password.label}}
            {{form.password(class_="form-control")}}

            {% if form.password.errors %} 
                {% for error in form.password.errors %}
                    <p class="text-danger">{{error}} </p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="p-2 col-md-12 text-center">
            <button class="btn p-2 px-3 rounded btn-primary h1" type="submit">Sign In</button>
            <p class="p-3 ">Don't have an account? <a href="{{url_for('auth.signup')}}">Register</a></p>
        </div> 
    </form>
</div>
{% endblock content %}